.outer-layout {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.upper-bar {
    box-shadow: 0 1px 3px rgb(0 0 0 / 50%);
    top: 0px;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background-color: #d4d4d4;
    /* height: 10%; */
}
.upper-bar .l-div{
    position: absolute;
    left: 5%;
}
.upper-bar .l-div .filter-img{
    position: absolute;
    bottom: 15px;
}
.upper-bar .m-div{
    margin-left: 25%;
    display: flex;
    align-items: center;
}
.upper-bar .location-div{
    display: flex;
    align-items: center;
    margin-right: 40px;
}
.upper-bar .location-div img{
    margin-right: 5px;
}
.upper-bar .search-div{
    display: flex;
    align-items: center;
}
.upper-bar .search-div input{
    margin-right: 10px;
}
.upper-bar .r-div{
    display: flex;
    align-items: center;
}
.upper-bar .r-div select{
    margin-right: 20px;
}
.form-control{
    box-shadow: 0 1px 3px rgb(0 0 0 / 50%);
}