@media (max-width: 1024px) {
  .primary-details {
    .l-div {
      .user-detail-container {
        h3 {
          font-size: small;
        }
        h5 {
          font-size: x-small;
          color: #707070;
        }
      }
    }
  }
}

@media (min-width: 1025px) {
  .poup-up-feeds{
    width: 40% !important;
  }
}

@media (max-width: 481px) {
  .header {
    padding: 5px;
    .l-div {
      img {
        height: 50px;
      }
    }
    .m-div {
      .search-div {
        display: none;
      }
    }
    .r-div {
      svg {
        height: 30px;
      }
    }
  }
  .chef-page {
    .home-content {
      .food {
        .user-post-container {
          .shopping-cart {
            height: 30px;
          }
        }
      }
    }
  }
}

@media (max-height: 570px) {
}

@media (max-width: 320px) {
}

@media (max-width: 280px) {
}
