.onboarding-portal {
    display: flex;
    padding: 55px 20px 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.outer-layout {
    background: linear-gradient( 184deg, white,#464040 92%);
    height: 100%;
    position: relative;
}
.chef-portal {
    border: 1px solid #0370a7;
    border-radius: 20px;
    min-height: 500px;
    margin-right: 10px;
    width: calc(100% - 80px);
    padding: 10px;
    box-shadow: 0 0 10px #464040;
    background-color: white;
}
.content {
    margin-top: 30px;
}
.chef-portal:first-child, .chef-portal:last-child {
    min-height: 450px;
}