.onboarding-portal {
    display: flex;
    padding: 55px 20px 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.outer-layout {
    background: linear-gradient( 184deg, white,#464040 92%);
    height: 100%;
    position: relative;
}
.chef-portal {
    border: 1px solid #0370a7;
    border-radius: 20px;
    height: 380px;
    margin-right: 10px;
    width: calc(100% - 80px);
    padding: 10px;
    box-shadow: 0 0 10px #464040;
    background-color: white;
}
.content {
    margin-top: 30px;
}
/* .chef-portal:first-child, .chef-portal:last-child {
    min-height: 450px;
} */
.chef-portal img{
    height: 40%;
}
.start button{
    background-color: transparent;
    color: lightgreen;
    font-weight: 800;
    font-size: large;
    border: none;
    text-shadow: 2px 2px    black;
}
.start{
    margin-right: 5%;
    display: flex;
    flex-direction: row-reverse;
}
.ewJlEB {
    width: calc(100% - 50px) !important;
}