/* .registration{
background-image: url('../assets/png_icons/Background.png');
height: 50%;
} */
form, #forgot-panel { 
    transition: all .5s ease;
}

.otp-container * { 
    box-sizing: border-box; 
    font-family: custom-fonts-bold; 
    margin:0;
    padding:0;
    color:black;
    font-weight: 600;
    background-color:inherit;
}
/* body {
    background-image: url(../assets/png_icons/Background.png);
    background-size:  cover;
    background-position:center center;

} */
.verify-otp-page{
    display: flex;
    justify-content: center;
    align-items: center;
}
.otp-container {
    width: 90%;
}

.otp-container .login-register {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
    overflow: hidden; 
    background: linear-gradient(180deg, rgba(65,4,119,1) 0%, rgba(22,147,198,1) 58%, rgba(255,255,255,0.1407913507199755) 82%);
    background-image: url(../assets/png_icons/Background.png);
    background-size:  cover;
    background-position:center center;
    color:#ffffff;
    padding: 20px;
}

.heading{
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading div:first-child {
    text-align-last: left;
    width: 10%;
}
.heading div:first-child img {
    height: 25px;
    cursor: pointer;
}
.otp-container .heading div:last-child {
    width: 70%;
    display: flex;
    justify-content: center;
    margin-right: 10%;
    text-shadow: 2px 2px 5px #707070;
    font-size: 28pt;
}
.user_mail{
    color: white;
    margin-bottom: 40px;

}

.tooltip{
    margin-bottom: 40px;
}
.actual_otp{
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.actual_otp input {
    height: 40px;
    border: none;
    background-color: white;
}
.each_otp_container{
    display: flex;
    /* margin-right: 10px; */
    max-width: 65%;
}
.each_otp_container div:last-child input{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.each_otp_container div:first-child input{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.verify_otp button{
    height: 35px;
    background-color: #469A21;
    border-radius: 24px;
    color: white;
    font-family: custom-fonts-bold;
    font-size: 16px;
    padding: 10px;
}

.verify_otp img{
    width: 74%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}
.resend_email{
    color: #FFD54F;
    text-shadow: 2px 2px 5px #707070;
    cursor: pointer;
    font-family: custom-fonts-bold;
    margin-top: 30%;
}
.resend-otp-popup{
    width: 200px;
    height: 200px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 2px 2px 5px #707070;
    padding: 20px 0px 0px 20px;
    font-family: custom-fonts;
}
.resend-otp-popup .icon{
    width: 100%;
    height: 20%;
    padding: 5px;
    left: 34%;
    position: relative;
}
.resend-otp-popup .icon img{
    height: 90%;
}
.resend-otp-popup .pop-up-instructions{
    padding: 10px;
    height: 50%;
}
.resend-otp-popup .actions{
    display: flex;
    height: 6%;
    justify-content: flex-end;
    align-items: center;
}
.resend-otp-popup .actions button{
    margin-right: 0px;
    background-color: #469A21;
    color: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 2px 2px 5px #707070;
}