.reset-passwword-page{
    font-family: custom-fonts-bold;
    .rp-container * {
        box-sizing: border-box;
        font-family: custom-fonts-bold;
    }
    .rp-container{
        width: 90%;
        margin-top: 10%;
        margin-bottom: 7%;
        margin-left: 5%;
        height: 96%;
        .login-register {
            height: 100%;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            border-radius: 50px;
            box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
            overflow: hidden; 
            background: linear-gradient(180deg, rgba(65,4,119,1) 0%, rgba(22,147,198,1) 58%, rgba(255,255,255,0.1407913507199755) 82%);
            background-image: url(../assets/png_icons/Background.png);
            background-size: cover;
            background-position: center center;
            font-weight: bolder;
        }
        .login-register{
            .heading{
                margin-top: 40px;
                margin-bottom: 60px;
                display: flex;
                justify-content: center;
                padding-left: 10px;
                div:first-child{
                    text-align-last: left;
                    width: 10%;
                    img{
                        height: 15px;
                        cursor: pointer;
                    }
                }
                div:last-child{
                    width: 70%;
                    display: flex;
                    justify-content: center;
                    margin-right: 10%;
                }
            }
            form input {
                width: 100%;
                height: 40px;
                padding-left: 15px;
                border: none;
                border-radius: 30px;
                text-align: center;
            }
            #loginform{
                .password_container {
                    text-align-last: left;
                    margin-bottom: 5px;
                    padding-left: 20px;
                    text-align: left;
                }
                .password_input {
                    padding-right: 50px;
                    margin-bottom: 20px;
                    height: 100%;
                    div {
                        background-color: white;
                        height: 100%;
                        display: flex;
                        border-top-right-radius: 30px;
                        border-bottom-right-radius: 30px;
                        div {
                            width: 50px;
                            background-color: white;
                            padding-left: 10px;
                        }
                        div:first-child {
                            padding-top: 18px;
                        }
                        input {
                            text-align: left;
                            padding-left: 20px;
                            height: 63px;
                        }
                        .password_symbol {
                            padding-top: 22px;
                            padding-right: 8px;
                            border-top-right-radius: 100px;
                            border-bottom-right-radius: 30px;
                        }
                    }
                }
                .username_container{
                    text-align-last: left;
                    margin-bottom: 5px;
                    padding-left: 56px;
                    text-align: left;
                }
                .user_input{
                    display: flex;
                    padding-left: 30px;
                    margin-bottom: 20px;
                    // box-shadow: 2px 2px 5px #707070;
                    .name_container{
                        display: flex;
                        background-color: white;
                        width: 100%;
                        border-top-left-radius: 30px;
                        border-bottom-left-radius: 30px;
                        .symbol{
                            width: 50px;
                            background-color: white;
                            border-top-left-radius: 30px;
                            border-bottom-left-radius: 30px;
                            img{
                                margin-top: 15px;
                            }
                        }
                        .user_symbol{
                            padding-top: 22px;
                            padding-right: 8px;
                            border-top-right-radius: 100px;
                            border-bottom-right-radius: 30px;
                        }
                        div:nth-child(2) {
                            width: 100%;
                            background-color: white;
                            div {
                                text-align: right;
                                padding-right: 15%;
                                margin-right: 0px;
                                color: red;
                                font-size: 12px;
                                padding-top: 3px;
                                text-transform: uppercase;
                                background-color: white;
                                height: 20px;
                                width: 100%;
                            }
                        }
                        
                        input {
                            text-align: left;
                            padding-left: 20px;
                            padding-bottom: 19px;
                        }
                    }
                }
                .kept_sign_in{
                    .submit {
                        font-weight: 700;
                        font-size: 1em;
                        text-align: center;
                        color: white;
                        padding: 8px 0px;
                        width: 120px;
                        height: 35px;
                        border: none;
                        font-family: custom-fonts-bold;
                        border-radius: 20px;
                        background-color: #BF2612;
                        position: relative;
                        top: 90px;
                        box-shadow: 2px 2px 5px #707070;
                        -webkit-appearance: none;
                    }
                }
            }
        }
    }
}