/* .registration{
background-image: url('../assets/png_icons/Background.png');
height: 50%;
} */
form, #forgot-panel { 
    transition: all .5s ease;
}

.container * { 
    box-sizing: border-box; 
    font-family: 'Open Sans', sans-serif; 
    margin:0;
    padding:0;
    color:black;
    font-weight: 600;
    background-color:inherit;
}
/* body {
    background-image: url(../assets/png_icons/Background.png);
    background-size:  cover;
    background-position:center center;

} */
.container {
    width: 90%;
    margin-top: 5%;
    margin-bottom: 7%;
    margin-left: 5%;
    height: 96%;
}

.login-register {
    height: 100%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding:0 2em;
    border-radius: 50px;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
    overflow: hidden; 
    background: linear-gradient(180deg, rgba(65,4,119,1) 0%, rgba(22,147,198,1) 58%, rgba(255,255,255,0.1407913507199755) 82%);
    background-image: url(../assets/png_icons/Background.png);
    background-size:  cover;
    background-position:center center;
    color:#ffffff;
}

/* Nav Buttons  */
.nav-buttons {
    width: 100%;
    height: 100px;
    padding-top: 10%;
    opacity: 1;
}
button {
    font-size: 1.5em;
    margin-right:1em;
    border:0px;
    cursor: pointer;

}
button:focus {
    outline: 0px;
}
button.active {
    padding-bottom: 10px;
    border-bottom: solid 2px #1059FF;
} 
/* footer: forgot section */
#forgot {
    position: relative;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    /* padding-top: 24px; */
    margin-top: -300px;
    display: flex;
    justify-content: space-between;
}

/* form styling */
.form-group input {
    width: 100%;
    height: 40px;
    padding-left: 15px;
    border: none;
    border-radius: 30px;
    margin-bottom: 20px;
    /* background: rgba(255,255,255,.2); */
    background-color: white;
}
.form-group label {
    text-transform: uppercase;
}
input.submit {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
    color: rgba(255,255,255, 1);
    padding: 8px 0px;
    width: 120px;
    height: 35px;
    border: none;
    font-family: Montserrat;
    border-radius: 20px;
    margin-top: 23px;
    background-color:#BF2612;

}

/* form positioning and animation */
form, #forgot { 
    position: relative;
    transition: all .5s ease;
}
#loginBtn, #registerBtn {
    transition: all .5s ease;

}
form#loginform {
left:0px;
}

form#registerform {
left:500px;
top:-230px;
opacity: 0;;
} 

.nav-buttons button{
    margin-right: 15px;
}
#signin_storage{
    font-family: Montserrat;
    color: white;
}
#signin_storage input{
    margin-right: 10px;
}
#user_choice{
    margin-bottom: 10%;
    color: #FFCF54;
    text-align: right;
    text-decoration: underline;
}
#user_choice span{
    color: #FFCF54;
    cursor: pointer;
}
::placeholder {
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 100;
    text-align: center;
}