/* .registration{
background-image: url('../assets/png_icons/Background.png');
height: 50%;
} */
form, #forgot-panel { 
    transition: all .5s ease;
}

.container * { 
    box-sizing: border-box; 
    font-family: 'Open Sans', sans-serif; 
    margin:0;
    padding:0;
    color:black;
    font-weight: 600;
    background-color:inherit;
}
/* body {
    background-image: url(../assets/png_icons/Background.png);
    background-size:  cover;
    background-position:center center;

} */
/* .container {
    width: 90%;
    margin-top: 5%;
    margin-bottom: 7%;
    margin-left: 5%;
    height: 96%;
} */

/* .login-register {
    height: 100%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    /* padding:0 2em; */
    /* border-radius: 50px;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
    overflow: hidden; 
    background: linear-gradient(180deg, rgba(65,4,119,1) 0%, rgba(22,147,198,1) 58%, rgba(255,255,255,0.1407913507199755) 82%);
    background-image: url(../assets/png_icons/Background.png);
    background-size:  cover;
    background-position:center center;
    color:#ffffff;
}  */

/* Nav Buttons  */
/* .nav-buttons {
    width: 72%; */
    /* height: 100px; */
    /* padding-top: 10%; */
    /* opacity: 1;
    text-align: left;
} */
button {
    font-size: 1.5em;
    margin-right:1em;
    border:0px;
    cursor: pointer;

}
button:focus {
    outline: 0px;
}
button.active {
    padding-bottom: 10px;
    border-bottom: solid 2px #469A21;
} 
/* footer: forgot section */


/* form styling */
/* .form-group input {
    width: 100%;
    height: 40px; */
    /* padding-left: 15px; */
    /* border: none; */
    /* border-radius: 30px; */
    /* margin-bottom: 20px; */
    /* background: rgba(255,255,255,.2); */
    /* background-color: white;
    text-align: center;
} */
/* .form-group #loginform label {
    text-transform: uppercase;
} */

/* form positioning and animation */
/* #forgot { 
    position: relative;
    transition: all .5s ease;
} */
/* #loginBtn, #registerBtn {
    transition: all .5s ease;

} */
/* form#loginform {
left:0px;
} */
/* .nav-buttons button{
    margin-right: 15px;
} */

/* #user_choice{
    margin-bottom: 5%;
    color: #FFCF54;
    text-align: right;
    text-decoration: underline;
    margin-right: 20px;
}
#user_choice span{
    color: #FFCF54;
    cursor: pointer;
} */
::placeholder {
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 100;
    /* text-align: center; */
}

/* .user_input div:nth-child(2) div{
    text-align: right;
    padding-right: 15%;
    color: red;
    font-size: 12px;
    padding-top: 3px;
    text-transform: uppercase;
    background-color: white;
    height: 20px;
    width: 100%;
} */

input:focus {
    border:0px;
    outline:0px;
}

/* #registerform input{
    margin-bottom: 20px;
    box-shadow: 1px 1px black;
} */
/* .email_input, .reg_user_input{
    padding-left: 50px;
} */
/* .reg_password_input{
    padding-right: 50px;
} */
/* .email_input input, .reg_user_input input{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
} */
/* #registerform #password{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
} */

/* .form-headers{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-left: 5px;
} */



