.upper-bar img:nth-child(2){
    position: absolute;
    right: calc(100% - 190px);
    top: calc(44%);
}
.upper-bar img:nth-child(3){
    position: absolute;
    right: calc(58%);
    top: calc(44%);
}
.upper-bar span{
    position: absolute;
    right: calc(52%);
    top: calc(42%);
}
.upper-bar img:nth-child(5){
    position: absolute;
    right: calc(40%);
    top: calc(42%);
}
.user-pallet{
    display: flex;
    width: 72%;
    height: calc(100% - 180px);
    margin: 0 auto;
}
.filter-div{
    height: 97%;
    padding: 15px;
    width: 22%;
    overflow: auto;
    box-shadow: 0 1px 3px rgb(0 0 0 / 50%);
    border: 1px solid #d4d4d4;
    border-radius: 10px;
}
.filter-div .reset-btn{
    text-align: right;
    margin-bottom: 10px;
    color: #469A09;
    cursor: pointer;
}
.user-content{
    width: 55%;
    margin-left: 15px;
    margin-right: 15px;
}
ul{
    list-style-type: none;
}
.pin-chef-ads {
    padding: 50px;
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    margin: 10px;
}
ul.switch-content {
    text-align: left;
    padding-left: 8px;
}
ul.switch-content li {
    margin-bottom: -1px;
    margin-right: 9%;
    list-style-type: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    color: #7d7d7e;
    cursor: pointer;
    min-width: 20%;
    text-align: center;
    padding: 5px;
}
/* ul.switch-content li:nth-child(1){
    border-bottom: 1px solid #7d7d7e;
} */
.feeds{
    width: 100%;
    overflow: auto;
    height: 97%;
}
.recipes{
    width: 100%;
    overflow: auto;
    height: 94%;
    position: relative;
    bottom: 95%;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    border: 1px solid black;
}
::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: darkgray; 
}

.feed{
    width: 97%;
}
.recipe{
    width: 97%;
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    margin-bottom: 10px;
}
.recipe .time{
    display: flex;
    
}
.recipe .time p{
    margin-left: 20px;
    margin-top: 2px;
    font-size: large;
    font-family: Montserrat;
    color: #707070;
}
.recipe .time img{
    margin-left: 30px;
    height: 10%;
    margin-top: 5px;
}
.primary-details{
    width: 100%;
    display: flex;
}
.primary-details img:nth-child(1){
    border-radius: 50%;
    height: 55px;
    margin: 20px;
}
.primary-details img:last-child{
    height: 10px;
    margin-top: 5%;
    margin-left: 15%;
}
.userpost{
    width: 100%;
}
.username{
    text-align: left;
    margin-top: 5px;
}
.username p:nth-child(1){
    margin-bottom: 0px;
}
.username p:nth-child(2){
    margin-top: 5px;
}
.post-activity{
    width: 100%;
    display: flex;
}
.post-activity img{
    margin-left: 20px;
    margin-right: 20px;
}
.activity p{
    margin-top: 0px;
    font-size: small;
}
.activity img{
    height: 30px;
}
.post-content h4{
    color: green;
    font-family: PT Sans Caption;
}
.post-content{
    text-align: left;
    margin: 25px;
    margin-top: 0px;
    font-family: PT Sans Caption;
}
.post-content p{
    margin: 0px;
}
.feed .activity:last-child{
    display: flex;
}
.feed .activity:last-child p{
    margin-top: 2px;
    font-size: large;
    font-family: Montserrat;
    color: #707070;
}
.recipe .post-activity .activities{
    display: flex;
    flex-direction: row-reverse;
}
.recipe_details{
    width: 50%;
    text-align: left;
    margin-left: 25px;
    margin-top: 5px;
}
.activities{
    width: 50%;
}



.e-masterclass{
    width: 100%;
    overflow: auto;
    height: 93%;
    position: relative;
    bottom: 189%;
}
.order{
    width: 97%;
    display: flex;
    height: 70%
}
.order_details{
    width: 34%;
    height: 100%;
}
.order_content{
    margin-left: 20px;
    width: 58%;
    height: 100%;
    padding-top: 5px;
}
.order_content .order_description{
    height: 35%;
}
.order_details div img:last-child{
    position: absolute;
    left: -2%;
    top: 4%;
    width: 14%;
}
.order_details div img:nth-child(2){
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 50%);
    margin-top: 10px;
}
.order_details p:last-child{
    margin-top: 0px;
}
.order_details p:last-child span{
    margin-top: 0px;
    border-top: 2px solid green;
}
.order_content .user_details{
    display: flex;
    flex-direction: row-reverse;
}
.order_content .user_details h4{
    margin-right: 12%;
    margin-left: 5%;
}
.order_content .user_details img{
    border-radius: 50%;
    height: 55px;
}
.order_content div p{
    padding: 10px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
}
.other_details{
    display: flex;
    margin-left: 10px;
}
.price{
    color: lightgray;
}
.class_date_time{
    margin-left: 20px;
    padding-left: 8px;
    border-left: 1px solid lightsalmon;
    display: flex;
    color: grey;
}
.class_date_time img{
    height: 30px;
}
.class_date_time span{
    margin-left: 10px;
}
.class_date_time .time{
    color: grey;
    text-align: right;
}
.remaining_time{
    border-left: 1px solid lightsalmon;
    padding-left: 8px;
    color: grey;
    margin-left: 10%;
    display: flex;
}
.remaining_time img{
    height: 30px;
}
.ticket_status{
    text-align: right;
}
.e-masterclass .order{
    border-bottom: 2px solid lightgrey;
}