.user-reg-page {
    .container{
        width: 90%;
        margin-top: 3%;
        margin-bottom: 7%;
        margin-left: 5%;
        height: 96%;
        .login-register{
            height: 99%;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            /* padding:0 2em; */
            border-radius: 50px;
            box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
            overflow: hidden; 
            background: linear-gradient(180deg, rgba(65,4,119,1) 0%, rgba(22,147,198,1) 58%, rgba(255,255,255,0.1407913507199755) 82%);
            background-image: url(../assets/png_icons/Background.png);
            background-size:  cover;
            background-position:center center;
            color:#ffffff;
            .form-headers{
                display: flex;
                justify-content: center;
                margin-top: 25px;
                margin-bottom: 25px;
                padding-left: 5px;
                .nav-buttons{
                    width: 72%;
                    opacity: 1;
                    text-align: left;
                    button{
                        margin-right: 15px;
                    }
                    #loginBtn, #registerBtn {
                        transition: all .5s ease;
                    }
                }
            }
            #user_choice{
                margin-top: 5%;
                margin-right: 20px;
                display: flex;
                justify-content: flex-end;
                div{
                    background-color: #469A21;
                    padding: 7px 10px 7px 10px;
                    align-items: center;
                    display: flex;
                    cursor: pointer;
                    border-radius: 25px;
                    box-shadow: 2px 2px 5px #707070;
                    span{
                        color: white;
                    }
                    img{
                        margin-left: 5px;
                    }
                }
            }
            .form-group{
                form{
                    position: relative;
                    transition: all .5s ease;
                }
                input {
                    width: 100%;
                    height: 40px;
                    /* padding-left: 15px; */
                    border: none;
                    /* border-radius: 30px; */
                    /* margin-bottom: 20px; */
                    /* background: rgba(255,255,255,.2); */
                    background-color: white;
                    text-align: center;
                }
                .submit {
                    font-weight: 700;
                    font-size: 1em;
                    text-align: center;
                    color: rgba(255,255,255, 1);
                    padding: 8px 0px;
                    width: 120px;
                    height: 35px;
                    border: none;
                    font-family: custom-fonts-bold;
                    border-radius: 20px;
                    background-color:#BF2612;
                    box-shadow: 2px 2px 5px #707070;
                    opacity: 1;
                }
                #loginform{
                    left:0px;
                    .username_container{
                        text-align-last: left;
                        margin-bottom: 5px;
                        padding-left: 80px;
                        text-align: left;
                    }
                    .user_input{
                        display: flex;
                        padding-left: 50px;
                        margin-bottom: 20px;
                        .symbol{
                            width: 50px;
                            background-color: white;
                            border-top-left-radius: 30px;
                            border-bottom-left-radius: 30px;
                            img{
                                margin-top: 18px;
                            }
                        }
                        div:nth-child(2){
                            width: 100%;
                            background-color: white;
                            div{
                                text-align: right;
                                padding-right: 15%;
                                color: red;
                                font-size: 12px;
                                padding-top: 3px;
                                text-transform: uppercase;
                                background-color: white;
                                height: 20px;
                                width: 100%;
                            }
                        }
                        input {
                            text-align: left;
                            padding-left: 20px;
                            padding-bottom: 19px;
                        }
                    }
                    .password_container{
                        text-align-last: left;
                        margin-bottom: 5px;
                        padding-left: 20px;
                        text-align: left;
                    }
                    .password_input{
                        padding-right: 50px;
                        margin-bottom: 20px;
                        height: 100%;
                        div{
                            background-color: white;
                            height: 100%;
                            display: flex;
                            border-top-right-radius: 30px;
                            border-bottom-right-radius: 30px;
                            div{
                                width: 50px;
                                background-color: white;
                                padding-left: 10px;
                            }
                            input{
                                text-align: left;
                                padding-left: 20px;
                                height: 63px;
                            }
                            .symbol{
                                padding-top: 22px;
                                padding-right: 8px;
                                border-top-right-radius: 80px;
                                border-bottom-right-radius: 30px;
                            }
                            div:first-child{
                                padding-top: 18px;
                            }  
                        }                      
                    }
                    .kept_sign_in{
                        display: flex;
                        justify-content: space-between;
                        padding: 10px 30px;
                        align-items: baseline;
                        #signin_storage{
                            display: flex;
                            #storeToken{
                                height: 0px;
                                visibility: hidden;
                            }
                            span{
                                position: absolute;
                                color: #fff;
                                margin-left: 20px;
                            }
                        }
                    }
                }
                #registerform {
                    left:750px;
                    opacity: 0;
                    font-family: custom-fonts-bold;
                    .username_container{
                        text-align-last: left;
                        margin-bottom: 5px;
                        padding-left: 80px;
                        text-align: left;
                    }
                    .user_input{
                        display: flex;
                        padding-left: 50px;
                        margin-bottom: 20px;
                        .name_container{
                            display: flex;
                            background-color: white;
                            width: 100%;
                            border-top-left-radius: 30px;
                            border-bottom-left-radius: 30px;
                            .symbol{
                                width: 50px;
                                background-color: white;
                                border-top-left-radius: 30px;
                                border-bottom-left-radius: 30px;
                                img{
                                    margin-top: 18px;
                                }
                            }
                            div:nth-child(2) {
                                width: 100%;
                                background-color: white;
                                div {
                                    text-align: right;
                                    padding-right: 15%;
                                    color: red;
                                    font-size: 12px;
                                    padding-top: 3px;
                                    text-transform: uppercase;
                                    background-color: white;
                                    height: 20px;
                                    width: 100%;
                                }
                            }
                            input {
                                text-align: left;
                                padding-left: 20px;
                                padding-bottom: 19px;
                            }
                        }
                    }
                    .password_container {
                        text-align-last: left;
                        margin-bottom: 5px;
                        padding-left: 20px;
                        text-align: left;
                    }
                    .password_input{
                        padding-right: 50px;
                        margin-bottom: 20px;
                        height: 100%;
                        div{
                            background-color: white;
                            height: 100%;
                            display: flex;
                            border-top-right-radius: 30px;
                            border-bottom-right-radius: 30px;
                            div{
                                width: 50px;
                                background-color: white;
                                padding-left: 10px;
                            }
                            input{
                                text-align: left;
                                padding-left: 20px;
                                height: 63px;
                            }
                            .symbol{
                                padding-top: 22px;
                                padding-right: 8px;
                                border-top-right-radius: 80px;
                                border-bottom-right-radius: 30px;
                            }
                            div:first-child{
                                padding-top: 18px;
                            }  
                        }                      
                    }
                    .submit{
                        margin-top: 20px;
                    }
                    .reg_password_input{
                        padding-right: 50px;
                        #password{
                            border-top-right-radius: 30px;
                            border-bottom-right-radius: 30px;
                            height: 55px;
                            text-align: left;
                            padding-left: 20px;
                        }
                    }
                    .reg_user_input{
                        padding-left: 50px;
                        input{
                            border-top-left-radius: 30px;
                            border-bottom-left-radius: 30px;
                        }
                    }
                } 
            }
            .multi-login{
                display: flex;
                justify-content: space-between;
                padding-left: 10%;
                padding-right: 10%;
                align-items: center;
                margin-top: -250px;
            }
            #note{
                font-weight: 100;
                padding: 20px 102px 10px 102px;
                font-family: custom-fonts;
                span{
                    cursor: pointer;
                }
            }
        }
    }
}
.terms_privacy_policy{
    .policies{
      .policy{
        padding: 10px;
        // img{
        //     width: 100%;
        // }
      }
    }
}