.user-feed-page {
  .user-pallet {
    .menu-bar {
      .home-content {
        .feeds,
        .recipes,
        .e-masterclass {
          display: none;
          &.active {
            display: block;
          }
        }
      }
      .chef-content {
        .all_chefs,
        .following_chefs {
          display: none;
          &.active {
            display: block;
          }
        }
      }
      .star-content,
      .home-content {
        .primary-details {
          .l-div {
            display: flex;
            align-items: center;
          }
        }
      }
      .shop-content {
        .switch-content {
          li {
            margin-right: 10px;
          }
        }
        .food,
        .services {
          display: none;
          &.active {
            display: block;
          }
          .each_food,
          .each_service {
            .primary-details {
              width: calc(100% - 10px);
              padding: 5px;
              .l-div {
                display: flex;
                align-items: center;
                .profile-img-container {
                  max-height: 50px;
                  max-width: 50px;
                  display: flex;
                  margin-right: 10px;
                }
                .user-detail-container {
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  text-align: left;
                }
              }
            }
          }
        }
      }
      .star-content {
        .feeds_2,
        .recipes_2,
        .foodservices,
        .my_purchases {
          display: none;
          &.active {
            display: flex;
            flex-direction: column;
          }
        }
        .my_purchases {
          align-items: center;
          .item {
            box-shadow: 5px 5px 5px#8080808c;
            padding: 15px;
            .head-container {
              display: flex;
              justify-content: space-between;
              .l-div {
                display: flex;
                .profile-img-container {
                  height: 50px;
                  width: 50px;
                  object-fit: contain;
                  margin-right: 10px;
                  img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                  }
                }
                .user-detail-container {
                  text-align: left;
                  margin-right: 15px;
                  h3 {
                    color: #000000;
                    font-weight: bold;
                    margin-bottom: 7px;
                  }
                  h5 {
                    font-size: 12px;
                    color: #707070;
                    font-weight: normal;
                  }
                }
                .star-rating {
                  height: 20px;
                }
              }
              .r-div {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                h3 {
                  color: #469a09;
                  font-size: 16px;
                  margin-bottom: 10px;
                  cursor: pointer;
                }
                img {
                  height: 20px;
                }
              }
            }
            .content {
              margin-bottom: 20px;
              .price-block {
                padding: 0px 10px;
                margin-bottom: 25px;
                .price-detail {
                  display: flex;
                  justify-content: space-between;
                  margin-bottom: 10px;
                  h4 {
                    margin-right: 50%;
                    font-weight: 300;
                  }
                  .r-div {
                    display: flex;
                    justify-content: space-between;
                    flex: 1;
                    h5 {
                      font-weight: 300;
                    }
                  }
                }
                .total-price {
                  text-align: right;
                  h3 {
                    span {
                      color: #464040;
                    }
                  }
                }
              }
              .ticket-block {
                .url-block {
                  display: flex;
                  justify-content: space-between;
                  margin-bottom: 10px;
                  h5 {
                    font-weight: 300;
                  }
                }
                .ticket-detail {
                  display: flex;
                  align-items: center;
                  h5 {
                    margin-right: 10px;
                    font-weight: 300;
                  }
                  img {
                    height: 20px;
                  }
                }
              }
            }
            .bottom-block {
              display: flex;
              justify-content: space-between;
              align-items: center;
              h4 {
                color: #707070;
              }
              .details-block {
                display: flex;
                align-items: center;
                h4 {
                  color: #707070;
                  margin-right: 10px;
                }
              }
            }
          }
          .purchase-detail {
            width: calc(100% - 20px);
            padding: 10px;
            .head-container {
              .date {
                width: 100%;
                text-align: right;
                font-weight: 300;
                margin-bottom: 5px;
              }
              .l-div {
                display: flex;
                .profile-img-container {
                  height: 50px;
                  width: 50px;
                  margin-right: 10px;
                  img {
                    height: 100%;
                    width: 100%;
                    border-radius: 50%;
                  }
                }
                .user-detail-container {
                  display: flex;
                  flex-direction: column;
                  text-align: left;
                  h3 {
                    margin-bottom: 5px;
                    font-size: 14px;
                  }
                  h5 {
                    color: #707070;
                    font-weight: 400;
                    font-size: 12px;
                  }
                }
              }
            }
            .content {
              table {
                border-spacing: 0;
                margin-bottom: 20px;
                thead {
                  background: #464040;
                  border-radius: 10px;
                  th {
                    color: white;
                    font-weight: 700;
                    padding: 7px 10px;
                    width: 100%;
                    &:first-child {
                      border-top-left-radius: 5px;
                      border-bottom-left-radius: 5px;
                    }
                    &:last-child {
                      border-top-right-radius: 5px;
                      border-bottom-right-radius: 5px;
                    }
                  }
                }
                tbody {
                  tr {
                    td {
                      padding: 10px;
                      &:first-child {
                        text-align: left;
                      }
                      .plus-icon {
                        color: #3f8f22;
                        font-size: 18px;
                        font-weight: 700;
                        cursor: pointer;
                      }
                    }
                  }
                }
              }
              .total-detail {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                padding: 0px 10px;
                margin-bottom: 20px;
                h4 {
                  color: #464040;
                  margin-bottom: 10px;
                  span {
                    font-weight: 300;
                  }
                }
                h3 {
                  color: #469a09;
                }
              }
              .youtube-link {
                display: flex;
                align-items: center;
                margin-bottom: 30px;
                h5 {
                  margin-right: 10px;
                  font-weight: 300;
                }
                img {
                  height: 20px;
                }
              }
              .details-section {
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
                &:last-child{
                  margin-bottom: 0px;
                }
                h3 {
                  color: #464040;
                  margin-bottom: 10px;
                  text-align: left;
                }
                textarea {
                  border-radius: 5px;
                  height: 100px;
                  padding: 30px;
                }
              }
            }
          }
          .food-service-purchase-detail {
            width: calc(100% - 20px);
            padding: 10px;
            .head-container {
              .date {
                width: 100%;
                text-align: right;
                font-weight: 300;
                margin-bottom: 5px;
              }
              .l-div {
                display: flex;
                .profile-img-container {
                  height: 50px;
                  width: 50px;
                  margin-right: 10px;
                  img {
                    height: 100%;
                    width: 100%;
                    border-radius: 50%;
                  }
                }
                .user-detail-container {
                  display: flex;
                  flex-direction: column;
                  text-align: left;
                  h3 {
                    margin-bottom: 5px;
                    font-size: 14px;
                  }
                  h5 {
                    color: #707070;
                    font-weight: 400;
                    font-size: 12px;
                  }
                }
              }
            }
            .content {
              table {
                border-spacing: 0;
                margin-bottom: 20px;
                thead {
                  background: #464040;
                  border-radius: 10px;
                  th {
                    color: white;
                    font-weight: 700;
                    padding: 7px 10px;
                    width: 100%;
                    &:first-child {
                      border-top-left-radius: 5px;
                      border-bottom-left-radius: 5px;
                    }
                    &:last-child {
                      border-top-right-radius: 5px;
                      border-bottom-right-radius: 5px;
                    }
                  }
                }
                tbody {
                  tr {
                    td {
                      padding: 10px;
                      &:first-child {
                        text-align: left;
                      }
                      .plus-icon {
                        color: #3f8f22;
                        font-size: 18px;
                        font-weight: 700;
                        cursor: pointer;
                      }
                    }
                  }
                }
              }
              .total-detail {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                padding: 0px 10px;
                margin-bottom: 20px;
                h4 {
                  color: #464040;
                  margin-bottom: 10px;
                  span {
                    font-weight: 300;
                  }
                }
                h3 {
                  color: #469a09;
                }
              }
              .youtube-link {
                display: flex;
                align-items: center;
                margin-bottom: 30px;
                h5 {
                  margin-right: 10px;
                  font-weight: 300;
                }
                img {
                  height: 20px;
                }
              }
              .details-section {
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
                &:last-child{
                  margin-bottom: 0px;
                }
                h3 {
                  color: #469A09;
                  margin-bottom: 10px;
                  text-align: left;
                }
                textarea {
                  border-radius: 5px;
                  height: 100px;
                  padding: 30px;
                }
              }
            }
          }
        }
      }
    }
  }
}
