@media (max-width: 1024px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .onboarding-portal .chef-portal {
    max-height: 300px;
  }
  .user-feed-page .user-pallet .filter-div,
  .user-feed-page .user-pallet .pinchef-content {
    display: none;
  }
  .user-feed-page .user-pallet {
    width: 100%;
  }
  .user-feed-page .user-pallet .menu-bar {
    width: calc(100% - 10px);
    margin: 0;
    padding: 0px 5px;
  }
  .upper-bar{
    padding: 10px;
  }
  .upper-bar .pin-chef-logo{
    height: 50px;
    object-fit: contain;
  }
  .upper-bar .search-div input{
    display: none;
  }
  .upper-bar .r-div svg{
    height: 30px;
  }
  .login-register, .otp-container .login-register{
    width: 95%;
  }
}

@media (max-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .react-stars-wrapper{
    width: 100px;
  }
  .recipe, .recipe_2{
    font-size: small;
  }
  .user-feed-page .user-pallet .menu-bar ul.switch-content li {
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .all_chefs .chef, .following_chefs .chef{
    height: 45%;
  }
  .activity img{
    width: 22px;
    margin-top: 2px;
  }
  .activity span{
    font-size: small;
  }
  b, .all_chefs .chef .chef_content .followers div:last-child button, .following_chefs .chef .chef_content .followers div:last-child button{
    font-size: smaller;
  }
  .post-option img{
    height: 5px;
  }
  .login-register, .otp-container .login-register{
    width: 95%;
  }
  .verify_otp button{
    font-size: 10px;
  }
  .each_otp_container div input{
    width: 1.5em;
  }
  .settings-content .profile .setting_activity .menu_details .menu_name h3{
    font-size: 16px;
  }
  .settings-content .profile .setting_activity .menu_details .menu_icon img{
    height: 65%;
  }
}
@media (max-height: 570px) {
  .all_chefs .chef, .following_chefs .chef{
    height: 55%;
  }
  .login-register, .otp-container .login-register{
    width: 95%;
  }
}
@media (max-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .onboarding-portal .chef-portal {
    max-height: 200px;
  }
  .onboarding-portal .chef-portal .content strong {
    font-size: 10px;
  }
  b, .all_chefs .chef .chef_content .followers div:last-child button, .following_chefs .chef .chef_content .followers div:last-child button, .switch-content {
    font-size: smaller;
  }
  .feed .primary-details .user-detail-container h3, .feed_2 .primary-details .user-detail-container h3, .recipe .primary-details .user-detail-container h3, .recipe_2 .primary-details .user-detail-container h3, .foodservices .primary-details .user-detail-container h3{
    font-size: x-small !important;
  }
}

@media (max-width: 280px) {
  /* Folding Phones */
  .outer-layout .upper-bar img {
    height: 90px;
    width: 90px;
    object-fit: contain;
  }
  b, .all_chefs .chef , .following_chefs .chef, .each_food, .each_food .activity:last-child p, .each_service, .each_service .activity:last-child p, .recipe, .recipe_2{
    font-size: x-small;
  }
  .each_food .food-price, .each_service .food-price{
    bottom: 15px;
  }
  .user-feed-page .user-pallet .menu-bar ul.switch-content li {
    font-size: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .container * { 
    font-size: small;
  }
  .otp-container * { 
    font-size: small;
  }
  .otp-container .login-register{
    padding: 0px;
  }
  .actual_otp{
    display: block;
  }
  .each_otp_container{
    margin-left: 4px;
  }
}
