@media (max-width: 1024px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .onboarding-portal .chef-portal {
    max-height: 300px;
  }
  .user-feed-page .user-pallet .filter-div,
  .user-feed-page .user-pallet .pinchef-content {
    display: none;
  }
  .user-feed-page .user-pallet {
    width: 100%;
  }
  .user-feed-page .user-pallet .menu-bar {
    width: calc(100% - 10px);
    margin: 0;
    padding: 0px 5px;
  }
  .upper-bar{
    padding: 10px;
  }
  .upper-bar .pin-chef-logo{
    height: 50px;
    object-fit: contain;
  }
  .upper-bar .search-div input{
    display: none;
  }
  .upper-bar .r-div svg{
    height: 30px;
  }
  .user-reg-page .container .login-register, .otp-container .login-register{
    width: 95%;
  }
  ::-webkit-scrollbar {
    width: 0px;
  }
  .footer{
    justify-content: space-between;
  }
  .contact_us .feedback {
    height: 77%;
  }
  .user-feed-page .user-pallet .menu-bar .star-content .my_purchases .item{
    width: 92%;
  }
  .pop-up-feeds{
    width: 100%;
  }
}

@media (max-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .react-stars-wrapper{
    width: 100px;
  }
  .user-feed-page .user-pallet .menu-bar .home-content .primary-details .profile-img-container, 
  .user-feed-page .user-pallet .menu-bar .star-content .primary-details .profile-img-container,
  .user-feed-page .user-pallet .menu-bar .star-content .my_purchases .item .head-container .l-div .profile-img-container{
    width: 35px;
    height: 35px;
  }
  .recipe, .recipe_2,
  .user-feed-page .user-pallet .menu-bar .star-content .my_purchases .item .head-container  h3,
  .user-feed-page .user-pallet .menu-bar .star-content .my_purchases .item .head-container .r-div h3{
    font-size: small;
  }
  .user-feed-page .user-pallet .menu-bar .star-content .my_purchases .item{
    padding: 12px;
    font-size: small; 
  }
  .user-feed-page .user-pallet .menu-bar ul.switch-content li {
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .all_chefs .chef, .following_chefs .chef{
    height: 45%;
  }
  .activity img{
    width: 22px;
    margin-top: 2px;
  }
  .activity span{
    font-size: x-small;
  }
  b, .all_chefs .chef .chef_content .followers div:last-child button, .following_chefs .chef .chef_content .followers div:last-child button{
    font-size: smaller;
  }
  .post-option img{
    height: 5px;
  }
  .user-reg-page .container .login-register, .otp-container .login-register{
    width: 95%;
  }
  .verify_otp button{
    font-size: 10px;
  }
  .each_otp_container div input{
    width: 1.5em;
  }
  .settings-content .profile .setting_activity .menu_details .menu_name h3{
    font-size: 16px;
  }
  .settings-content .profile .setting_activity .menu_details .menu_icon img{
    height: 65%;
  }
  .settings-content .profile .primary-details .l-div .profile-img-container {
    width: 180px;
    height: 85px;
  }
  .settings-content .profile .primary-details .l-div .profile-img-container h1 {
    padding-right: 10px;
    font-size: 3em;
    padding-top: 7px;
  }
  .user-reg-page .container .login-register .form-headers .nav-buttons{
    font-size: 13px;
  }
  ::placeholder {
    font-size: 12px;
  }
  #e-master-class-sec{
    font-size: 11px;
  }
  .user-pallet{
    height: calc(100% - 125px);
  }
  #forgot {
    height: 45px;
  }
  .user-reg-page .container .login-register .multi-login {
    padding-left: 5%;
    padding-right: 5%;
  }
  .user-reg-page .container .login-register .multi-login div svg:nth-child(1), .user-reg-page .container .login-register .multi-login div svg:nth-child(2), .user-reg-page .container .login-register .multi-login div svg:nth-child(3){
    height: 30px;
    width: 30px;
  }
  .settings-content{
    font-size: 12px;
  }
  .contact_us .feedback{
    height: 80%;
  }
  .comment .feed .comments{
    font-size: small;
  }
  .comment .feed .comments .comment-details .reply-comment img{
    height: 20px;
    width: 20px;
  }
  .comment .feed .comments .comment-details .likes-on-comment img{
    height: 30px;
    width: 30px;
  }
  .user-feed-page .user-pallet .menu-bar .home-content .comment .feed .comments .user-details .profile-img-container img{
    height: 36px;
    width: 36px;
  }
  .chef-page .shop-content .food .each_food,
  .chef-page .shop-content .services .each_service,
  .chef-page .shop-content .eclasses .each_class {
    width: 88%;
    font-size: small;
    margin-left: 0px;
  }
  .chef-page .chef-content .chef-profile .chef .chef-details .other-details .desktop-icon {
    width: 60px;
    height: 60px;
    bottom: 35px;
    left: 10px;
  }
  .chef-profile,
  .chef-page .chef-content .chef-profile .chef .chef-posts .switch-content li,
  .chef-page .home-content .feed-filters button {
    font-size: small;
  }
  .recipe .userpost {
    width: 100%;
    height: 200px;
  }
}
@media (max-width: 380px) {
  .contact_us .feedback{
    height: 75%;
  }
  .other_details, .class_date_time span, .class_date_time .time{
    font-size: xx-small;
  }
}
@media (max-height: 570px) {
  .all_chefs .chef, .following_chefs .chef{
    height: 55%;
  }
  .user-reg-page .container .login-register, .otp-container .login-register{
    width: 95%;
  }
}
@media (max-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .user-feed-page .user-pallet .menu-bar .star-content .my_purchases .item .head-container  h3,
  .user-feed-page .user-pallet .menu-bar .star-content .my_purchases .item .head-container .r-div h3{
    font-size: x-small;
  }
  .user-feed-page .user-pallet .menu-bar .star-content .my_purchases .item{
    padding: 9px;
    font-size: x-small;
  }
  .onboarding-portal .chef-portal {
    max-height: 200px;
  }
  .onboarding-portal .chef-portal .content strong {
    font-size: 10px;
  }
  b, .all_chefs .chef .chef_content .followers div:last-child button, .following_chefs .chef .chef_content .followers div:last-child button, .switch-content {
    font-size: smaller;
  }
  .feed .primary-details .user-detail-container h3, .feed_2 .primary-details .user-detail-container h3, .recipe .primary-details .user-detail-container h3, .recipe_2 .primary-details .user-detail-container h3, .foodservices .primary-details .user-detail-container h3{
    font-size: x-small !important;
  }
  .help_activity .menu_name{
    font-size: 12px;
  }
  .help_activity .menu_icon img{
    width: 35px;
  }
  .user-reg-page .container .login-register{
    font-size: 12px;
  }
  .order_content .user_details img:first-child{
    height: 30px;
  }
  #forgot {
    height: 35px;
  }
  .contact_us .feedback{
    height: 70%;
  }
  .chef-page .chef-content .chef-profile .chef .chef-posts .switch-content li {
    font-size: x-small;
  }
  .chef-page .home-content .feed-filters button {
    font-size: xx-small;
  }
}

@media (max-width: 280px) {
  /* Folding Phones */
  .outer-layout .upper-bar img {
    height: 90px;
    width: 90px;
    object-fit: contain;
  }
  b, .all_chefs .chef , .following_chefs .chef, .each_food, .each_food .activity:last-child p, .each_service, .each_service .activity:last-child p, .recipe, .recipe_2{
    font-size: x-small;
  }
  .each_food .food-price, .each_service .food-price{
    bottom: 15px;
  }
  .user-feed-page .user-pallet .menu-bar ul.switch-content li {
    font-size: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .container * { 
    font-size: small;
  }
  .otp-container * { 
    font-size: small;
  }
  .otp-container .login-register{
    padding: 0px;
  }
  .actual_otp{
    display: block;
  }
  .each_otp_container{
    margin-left: 4px;
  }
  .help_activity .menu_name{
    font-size: 10px;
  }
  .settings-content .profile .primary-details .l-div .profile-img-container {
    width: 130px;
    height: 60px;
  }
  .settings-content .profile .primary-details .l-div .profile-img-container h1 {
    padding-right: 10px;
    font-size: 2em;
    padding-top: 7px;
  }
  .user-reg-page .container .login-register .form-headers .nav-buttons{
    font-size: 13px;
    text-align: center;
  }
  .user-reg-page .container .login-register .multi-login a{
    font-size: x-small;
  }
  .chef-page .shop-content .food .each_food,
  .chef-page .shop-content .services .each_service,
  .chef-page .shop-content .eclasses .each_class {
    width: 85%;
    margin-left: 0px;
  }
  .chef-page .chef-content .chef-profile .chef .chef-posts .switch-content li {
    font-size: xx-small;
  }
  .settings-content .profile .setting_activity .menu_details .menu_name h3 {
    font-size: 12px;
  }
}
