@media (max-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .onboarding-portal .chef-portal {
    max-height: 300px;
  }
  .user-feed-page .user-pallet .filter-div,
  .user-feed-page .user-pallet .pinchef-content {
    display: none;
  }
  .user-feed-page .user-pallet {
    width: 100%;
  }
  .user-feed-page .user-pallet .menu-bar {
    width: calc(100% - 10px);
    margin: 0;
    padding: 0px 5px;
  }
  .user-feed-page .user-pallet .menu-bar ul.switch-content li {
    font-size: 16px;
  }
}

@media (max-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .all_chefs .chef, .following_chefs .chef{
    height: 45%;
  }
  b, .all_chefs .chef .chef_content .followers div:last-child button, .following_chefs .chef .chef_content .followers div:last-child button{
    font-size: smaller;
  }
}
@media (max-height: 570px) {
  .all_chefs .chef, .following_chefs .chef{
    height: 55%;
  }
}
@media (max-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .onboarding-portal .chef-portal {
    max-height: 200px;
  }
  .onboarding-portal .chef-portal .content strong {
    font-size: 10px;
  }
  b, .all_chefs .chef .chef_content .followers div:last-child button, .following_chefs .chef .chef_content .followers div:last-child button{
    font-size: smaller;
  }
}

@media (max-width: 280px) {
  /* Folding Phones */
  .outer-layout .upper-bar img {
    height: 90px;
    width: 90px;
    object-fit: contain;
  }
  b, .all_chefs .chef , .following_chefs .chef, .each_food, .each_food .activity:last-child p {
    font-size: x-small;
  }
  .each_food .food-price{
    bottom: 15px;
  }
}
